<div class="sign-in-area">
  <div class="section">
    <div class="logo-box">
      <%= image_tag 'application-logo.png', class: "responsive-img" %>
    </div>
    <%= form_with(url: create_session_path, local: true) do |form| %>
      <div class="box-margin">
        <label>ユーザー名</label>
        <%= form.text_field :name, value:  @last_login_user&.name %>
      </div>
      <div class="actions center">
        <%= form.submit "ログイン", class: "btn-large" %>
      </div>
    <% end %>
    <div>
      <div id="cant-login-section" class="box-margin">
        <label class="display-toggle"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>ログインできない場合 </label>
      </div>
      <div id="cant-login-section-body" class="box-margin">
        <div class="box-margin">
          下記のボタンを押して当サイトのログイン履歴を削除し、再度ログインをお試しください。<br />
          フェス参加中は履歴の削除を行うと、戦績が消えてしまいますのでご注意ください。
        </div>
        <div class="actions center">
          <%= button_to "ログイン履歴の削除", reset_account_token_path, method: :patch,class: "btn" %>
        </div>
      </div>
    </div>
    <hr />
    <div class="description">
      <ul>
        <li>
          Splatoon2で行われた"フェス"っぽい企画を作成して、
          勝率を集計するセルフフェス企画運営サイトです。
        </li>
        <li>
          当サイトではCookie(食べられません)を使用しています。
          ブラウザの履歴を削除すると、ログイン情報が失われ、
          戦績の記録がなくなってしまいますのでご注意ください。
        </li>
        <li>
          当サイトでは個人情報は扱わず、任天堂Switchアカウント情報との連携なども行っていません。
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  //高さ指定
  $('#cant-login-section-body').each(function(){
      $(this).css("height",$(this).height()+"px");
  });
  //開閉要素を隠す
  $('#cant-login-section-body').hide();
  //ボタン要素が押されたら
  $('.display-toggle').click(function () {
  	//現在の状況に合わせて開閉
      $('#cant-login-section-body').slideToggle('slow');
      //現在の状況に合わせてクラスをつける
      $(this).toggleClass('active');
  });
</script>