<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

<div>
  <%= form_with(model: fest, local: true) do |form| %>
    <% disabled = fest.fest_status != "not_open" %>
    
    <div class="row">
      <div class="input-field col s12">
        <label>フェス名</label>
        <%= form.text_field :fest_name, disabled: disabled %>
      </div>
      <div class="input-field col s6">
        <label>選択肢A</label>
        <%= form.text_field :selection_a, disabled: disabled %>
      </div>
      <div class="input-field col s6">
        <label>選択肢B</label>
        <%= form.text_field :selection_b, disabled: disabled %>
      </div>
      <div class="col s6">
        <label>フェスイメージ</label>
        <%= image_tag fest.fest_image_file || 'no_image.png', class: "responsive-img" %>
      </div>
      <div class="input-field col s6">
        <%= form.file_field :fest_image_file, disabled: disabled %>
      </div>
    </div>
    <% unless fest.new_record? %>
      <div class="row">
        <div class="col s6">
          <label>フェスステータス</label>
          <p><%= fest.fest_status_i18n %></p>
        </div>
        <div class="col s6">
          <label>フェス結果</label>
          <p><%= fest&.fest_result_display %></p>
        </div>
        <div class="col s6">
          <label>作成日時</label>
          <%= I18n.l(fest.created_at) if fest.created_at.present? %>
        </div>
        <div class="col s6">
          <label>更新日時</label>
          <%= I18n.l(fest.updated_at) if fest.updated_at.present? %>
        </div>
      </div>
    <% end %>
    
    <div class="actions">
      <% if fest.fest_status == "not_open" %>
        <%= form.submit "登録", class: "btn-large" %>
      <% end %>
      <% unless fest.new_record? %>
        <%= link_to "削除" , fest_path(id: fest.id) , method: :delete, params: {result: 'win'}, data: { confirm: "フェスを削除します。よろしいですか？" }, class: "btn-large" %>
      <% end %>
    </div>
  <% end %>
</div>