<!-- 参加中のフェス -->
<% joined_active_fest = @current_user.joined_active_fest %>
<% if joined_active_fest.present? %>
  <div class="section" >
    <div class="section-title"><i class="fa fa-heart" aria-hidden="true"></i>参加中のフェス</div>
    <div class="row" >
      <%= render 'layouts/components/fest_card', fest: joined_active_fest %>
    </div>
    <div class="row">
      <%= link_to '戦績を記録する', edit_fest_vote_path(@current_user.my_vote(joined_active_fest.id)), { class: "waves-effect waves-light btn-large" } %>
    </div>
  </div>
<% end %>

<!-- フェス検索エリア -->
<div class="section" >
  <div class="section-title"><i class="fa fa-gamepad" aria-hidden="true"></i>フェス一覧</div>
  <%= render 'search_condition'%>
  <div class="row" >
    <% if @fests.present? %>
      <% @fests.each do |fest| %>
        <%= render 'layouts/components/fest_card', fest: fest %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <%= link_to 'フェスを作成する', new_fest_path, {class: "waves-effect waves-light btn-large"} %>
  </div>
</div>