<p id="notice"><%= notice %></p>

<h1>Fests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <th>フェス名</th>
    <th>フェスステータス</th>
    <th>選択肢A</th>
    <th>選択肢B</th>
    <th>フェス結果</th>
    <th>作成日時</th>
    <th>更新日時</th>
    <th>詳細</th>
    <th>編集</th>
    </tr>
    <% if @fests.present? %>
      <% @fests.each do |fest| %>
        <tr>
          <td><%= fest.fest_name %></td>
          <td><%= Fest::FEST_STATUS.key(fest.fest_status) %></td>
          <td><%= fest.selection_a %></td>
          <td><%= fest.selection_b %></td>
          <td><%= fest.fest_result %></td>
          <td><%= fest.created_at %></td>
          <td><%= fest.updated_at %></td>
          <td><%= link_to 'Show', fest %></td>
          <td><%= link_to 'Edit', edit_fest_path(fest) if fest.user == @current_user%></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fest', new_fest_path %>


<div>
  <%= link_to '戦績を記録する！', edit_fest_vote_path(id: @current_user.fest_votes.first.id) %>
  
</div>
