<p id="notice"><%= notice %></p>

<p><%= @fest.fest_name %></p>
<p><%= Fest::FEST_STATUS.key(@fest.fest_status) %></p>

<table>
    <tr><th>選択肢A</th><th>選択肢B</th></tr>
    <tr><td><%= @fest.selection_a %></td><td><%= @fest.selection_b %></td></tr>
    <% if @fest.fest_result.present? %>
    <tr><td><%= @fest.fest_result = "a" ? "WIN!" : "LOSE..." %></td><td><%= @fest.fest_result = "b" ? "WIN!" : "LOSE..."%></td></tr>
    <% elsif !@current_user.joined_active_fest? && @fest.fest_status == Fest::FEST_STATUS[:open] %>
    <tr>
        <td><%= button_to "投票する！", create_fest_vote_path(id: @fest.id), method: :post, params: { selection: "a" } %></td>
        <td><%= button_to "投票する！", create_fest_vote_path(id: @fest.id), method: :post, params: { selection: "b" } %></td>
    </tr>
    <% end %>
</table>

<%= link_to 'Edit', edit_fest_path(@fest) %> |
<%= link_to 'Back', fests_path %>
<%= button_to '集計', :action => 'totalize' , :method => 'post' , :params => { id: @fest.id } if @fest.user == @current_user %>
