<div class="section" >
  <div class="no-border-box">
    <%= link_to '<< 一覧に戻る', fests_path  %>
  </div>

  <div class="section-title"><%= @fest.fest_name %></div>
  
  <div class="row center">
    <div class="input-field col s12">
      <%= image_tag @fest.fest_image_file || 'no_image.png', class: "responsive-img" %>
    </div>
  
    <% button_disable = @fest.fest_status != "open" || @current_user.joined_active_fest.present? %>
    <div class="col s6">
      <%= button_to "#{@fest.selection_a}に投票する！" ,
        create_fest_vote_path(fest_id: @fest.id), 
        method: :post, params: {selection: 'a'},
        data: { confirm: "#{@fest.selection_a}に投票します。あとで変更できません。よろしいですか？"},
        disabled: button_disable, 
        class: "btn-large" %>
    </div>
    <div class="col s6">
      <%= button_to "#{@fest.selection_b}に投票する！" , 
        create_fest_vote_path(fest_id: @fest.id) , 
        method: :post, params: {selection: 'b'}, 
        data: { confirm: "#{@fest.selection_b}に投票します。あとで変更できません。よろしいですか？"},
        disabled: button_disable,
        class: "btn-large" %>
    </div>
    
    <% if current_fest_vote = @fest.fest_votes.find { |fv| fv.user_id == @current_user.id } %>
      <div>
        <span class="large-text"><%= current_fest_vote.selection_name %></span>に投票済み！
      </div>
    <% end %>
  
    <% if @fest.fest_status == "close" %>
    <div>
      <label>結果</label>
      <%= @fest.fest_result_display %>
    </div>
    <% end %>
  </div>
  
  <%= render 'joined_users', fest: @fest %>
</div>